@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.Image_holder{
    position: relative;
    display: inline-block;
    padding: 0 0 0 0;
}
.text_block{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.announcement{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.cararayan-background{
    padding: 0 0 90px 0;
}
.yesseva{
    font-family: 'Yeseva One', cursive; 
    font-weight:normal;
    font-size: 55px;
}
.work{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}
.center_text{
    text-align: center;
}
.button_service{
    position: absolute;
    top: 160px;
    left: 97px;
}
.top_button{
    color: #1F2B6C;
    border-radius: 20px;
    background-color: white;
    border: 0px solid white;
    padding: 10px 30px;
    font-weight: bold;
}
.spaces{
    display: flex;
    gap: 50px;
    list-style: none;
}
.button_size{
    width: 300px;
    height: 80px;
    border: 0px solid white;
}
.ann{
    background-color: #170E06;
    color: white;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: normal;
}
.proj{
    background-color: #BFF8F8;
    color: #170E06;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: normal;
}
.loc{
    background-color: #001A78;
    color: white;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: normal;
}
.space{
    margin-left: 20px;
}
.pb-10{
    padding-bottom: 8%;
}
.welcome-cararayan{
    font-size: 18px;
    font-weight: 900;
    color: #159EEC;
}
.a-great-place{
    font-size: 32px;
    font-weight: bold;
    color: #1F2B6C;
}

.cararayan-is-a-barangay{
    font-size: 16px;
    letter-spacing: 0;
}
.learn-more{
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0;
}
.frequently{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 16%;
    color: #159EEC;
}
.barangay-service{
    font-size: 32px;
    color: #1F2B6C;
}
.first-carousel{
    background-color: #BFF8F8;
    padding: 30px 0 55px 150px;
    border-radius: 20px;
}
.round{
    border-radius: 50px;    
}
.barangay-clearance{
    color: black;
}
.how{
    text-align: center;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 5px;
    color: #1F2B6C;
}
.details{
    font-weight:lighter;
    font-size: 18px;
    letter-spacing: 0;
}
.Announcement_holder{
    position: relative;
    display: inline-block;
    padding: 0 0 0 0;
}
.announcement_block{
    position: absolute;
    top: 15%;
    left: 10%;
    color: black;
    text-align: left;
}
.annoucement-details{
    width: 50%;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}
.announcement-title{
    color: #159EEC;
}
.big-calendar{
    position: absolute;
    bottom: -5%;
    right: 5%;
}
.Announcement-image{
    padding-bottom: 90px;
}
.officer-background{
    background-color: #BFD2F8;
    border: 0px solid #ccc;
}
h4.work.card-title{
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: normal;
}
p.work.card-text{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
img.card-img-top{
    border-bottom: 20px solid white;
}